
  <%= stylesheet_link_tag 'bootstrap' %>
  <%= stylesheet_link_tag 'desktop' %>
 

  <div id="container">
    
            <div id="titlebox">
                          <h1>Virgil: A Simple Mobile UI</h1>
            </div> <!--end titlebox-->
            
            <div id="videobox">
              <iframe width="840" height="610" src="http://skiptrace.design.s3.amazonaws.com/Virgil_Video/Virgil-Movie.html" frameborder="0" allowfullscreen></iframe>
            </div><!--end videobox-->
            
            <div id="buttonbox">
            
              <div id="Learn_More_box">
                    
                      <a href="Learn-More.html">
                        <div id="redbox">
                                <h2>Learn More</h2>
                            </div>
                        </a>
                        
              </div> <!--end Learn_More_box-->
       

      <script>
          $('#myModal').modal(options)
      </script>


                    <div id="Sign_Up_box">

                    <a href="#myModal" role="button" data-toggle="modal">
                        <div id="bluebox">
                            <h2>Sign Up</h2>
                        </div>
                    </a>
                        
              </div><!-- end Sign_Up_box-->


<!-- Modal -->


<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">close</button>
    <h2 id="myModalLabel">create a profile</h2>
  </div> <!-- end modal header -->

  <div class="modal-body">

      <div class="master-formbox formbox-basic">
 
 
                  <div class="formbox-wrapper">
                            <h3>Email address</h3>

                           <form>
                            <input type="text" name="firstname" class="formbox">
                  
                             <%= form_for :user do |f| %>
                             <%= f.text_field :email, :placeholder => " required"  %>
                               <% end %>

                          </form>
                             <br />
                   </div> <!--end formbox-wrapper-->
                   
                    <div class="clear"></div>
                    
                   <div class="formbox-wrapper">
                             <h3>Password</h3>
                            <form>
                            <input type="text" name="lastname" class="formbox">    

                               <%= form_for :user do |f| %>
                               <%= f.text_field :password, :placeholder => " must be at least 6 characters" %>
                                <% end %>

                            </form>
                            <br />
                    </div> <!--end formbox-wrapper-->

                   <div class="formbox-wrapper">
                       <h3>Password confirmation</h3>
                        <form>
                          <input type="text" name="lastname" class="formbox">    

                            <%= form_for :user do |f| %>
                              <%= f.text_field :password_confirmation, :placeholder => "repeat your password" %>
                              <% end %>

                        </form>
                        <br />
                  </div> <!--end formbox-wrapper-->

    </div> <!-- end modal body -->

                <div class="modal-footer">

                     <button class="button">Save

                      <%= form_for :user do |f| %>
                        <%= f.submit %><br />
                          <% end %>

                          </button>

                     <h5><button class="button"><%= link_to "FAQ's", "faqs"%></button></h5>


   
  </div><!-- end modal footer -->

</div> <!-- end myModal -->
</div>
                    
      </div> <!--end buttonbox-->
            
            <div class="loginbox">
            
                    <form>
                    <input type="text" name="index-username" class="login-formbox" placeholder=" username">
                    </form>
                    
                    <form>
                    <input type="password" name="index-password" class="login-formbox" placeholder=" password">
                    </form>
                    
              <input type="submit" class="button" name="index-login" value="Login">
            
      </div> <!--end loginbox-->
         
            
    </div><!--end container-->
    
    

<div class="master-footer green-footer">

   <%= render "partials/footer" %>
   
</div> 
<!--end master footer-->


