
     <% if mobile_device? %>
      <%= redirect to "home/mobile_login", :mobile = 1 %>
      <% end %>
  
   <div class="index-container">

            <div class="index-titlebox">

                          <h2>Virgil: A Simple Mobile UI</h2>
            </div> <!--end titlebox-->
            
            <div class="index-videobox">
              <iframe width="840" height="610" src="http://skiptrace.design.s3.amazonaws.com/Virgil_Video/Virgil-Movie.html" frameborder="0" allowfullscreen></iframe>
            </div><!--end videobox-->
            
            <div class="index-buttonbox">
            
                <div class="Learn_More_box">
                      
                
                       <h2><%= link_to "Learn More", "learnmore", :class => "index-redbox"%></h2>
                  
                </div> <!--end Learn_More_box-->
            </div>

  

      <div class="index-buttonbox">
            
            <div class="Sign_Up_box">

                    <a href="#myModal" role="button" data-toggle="modal" class="index-button">
                        <div class="index-bluebox">
                            <h2>Sign Up</h2>
                        </div>
                    </a>
                        
            </div><!-- end Sign_Up_box-->

      </div>


<!-- Modal -->


<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">close</button>

        <h2 id="myModalLabel">create a profile</h2>

    </div> <!-- end modal header -->

    <div class="modal-body">


                  <div class="index-formbox-wrapper">
                    
                        <h3>Email address</h3>
                      <%= form_for(@user, :as => user_path,  :class => "index-login-formbox") do |f| %>
                        
                        <%= f.email_field :email, :autofocus => true %>
                                
                   </div> <!--end formbox-wrapper-->
                   
                    <div class="clear"></div>
                    
                   <div class="index-formbox-wrapper">

                          <h3>Password</h3>
                           <%= f.password_field :password, :class => "index-login-formbox" %>
                           
                    </div> <!--end formbox-wrapper-->

                   <div class="index-formbox-wrapper">

                        <h3>Password confirmation</h3>
                        <%= f.password_field :password_confirmation, :class => "index-login-formbox" %>
                    </div> <!--end formbox-wrapper-->

               <div class="index-formbox-wrapper">

          <%= f.submit "Sign in", :class => "index-button" %>


                      <% if devise_mapping.rememberable? -%>
                        <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
                      <% end %>

               </div> <!--end formbox-wrapper-->

                  <% end %>

    </div> <!-- end modal body -->

    <div class="modal-footer">

         <button class="index-button">Save</button>

         <a href="FAQ.html"><button class="index-button">FAQ's</button></a>

    </div><!-- end modal footer -->


</div> <!-- end myModal -->
</div>
            
      <div class="index-loginbox">
                    
                <div class="index-usernamebox">
                    <form>
                    <input type="text" name="index-username" class="index-login-formbox" placeholder=" email address">
                    </form>
                </div> <!-- end usernamebox -->
                   
                <div class="passwordbox">    
                    <form>
                    <input type="password" name="index-password" class="index-login-formbox" placeholder=" password">
                    </form>
                </div> <!-- end passwordbox -->
                    
              <input type="submit" class="index-button" name="index-login" value="Login">
            
      </div> <!--end loginbox-->
         
            
    </div><!--end container-->
    

<div class="master-footer index-footer">
  <%= render "partials/footer" %>
</div> 
<!--end master footer-->
    