
<%= render 'places-header' %>

<div class="places-headroom"></div>

<div class="plces-container">

  <%= link_to 'Create New Place', new_character_path, :class => "create_places_button" %>

  <%= gmaps4rails(@json) %>

  <% @characters.each do |character| %>

  <div class="places-preview-list-box">
        <div class="placelist" >
          <h3><%= character.name %></h3>
            <div class="places-edit-checkbox">
              <%= link_to '', edit_character_path(character), :class => "places-edit-sprite" %>
            </div><!--end  checkbox-->
        <div class="places-delete-checkbox">
            <%= link_to '', character, :class => "places-delete-sprite", method: :delete, data: { confirm: 'Are you sure you want to delete this place?' } %>
        </div><!--end edit checkbox-->
    </div> <!-- end placelist -->

 </div> <!-- end places previewlistbox -->

</div>

<% end %>

<%= render 'places-footer' %>